ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li {
	float: right;
}

h1.title {
	text-align: "center";
	color: "#e8d471"; //d8a86a
}