h1.title {
	text-align: center;
	color: #c0b05c; /*862404; 3*/ /*d8a86a; 2*/
}

div#nav_bar {
	background-color: #f0d08e; /*dccd7d;*/
	border: none;
	border-radius: 5px;
	width: 1300px;
	height: 35px;
	margin: auto;
	font-size: 22px;
	text-align: center;
	/*padding: 5px 0px 5px 0px;*/
	margin-top: 15px;
	padding-top: 5px;
}

a.nav_item {
	text-decoration: none;
	color: #c0b05c;
}

